@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 1.7;
    color: #151515;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.logo{
    object-fit: contain;
}

p{
    font-size: 16px;
}

.text{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

a {
    text-decoration-color: none;  /*リンクの色を消す*/
  }

  html,body {
    overflow-x: hidden;
  }
/* HEADER
------------------------------- */
.logo {
    width: 70px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #151515;
}

.main-nav .button{
    color: #fff;
}

.main-nav a:hover {
    color: #e6027a;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    margin:0 auto;
    padding:0 4%;
}

.menu-logo{
    display: none;
}

.togglemenu{
    display: none;
}


/*SVGアニメーション--------------*/











/*HOME
---------------------------*/
.home-content{
    margin: 50px 0 50px 0;
    position: relative;
}

.home-content p{
    font-size: 1.15rem;
    margin: 10px 0 42px;
    position: absolute;
    top: 70%;
    left: 750px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

/*見出し*/
.page-title{
    font-size:155px;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1em;
}


/*ボタン*/
.main-nav .button{
    font-size:1rem;
    font-weight: 700;
    background: linear-gradient(to right,#e6027a, #44eaff);
    color:#fff;
    border-radius:30px;
    padding:12px 28px;
}

.main-nav a button :hover {
    color: #fff;
}

.button:hover{
    background:#151515;
}

.vew-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.vew-more_black {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    background-color: #4c4c4c;
    border-radius:50px;
    padding: 5px 5px 5px 30px;
    width: max-content;
}

.vew-more .button{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 55px;
    width: 55px;
    font-size:1.25rem;
    background: linear-gradient(to right,#e6027a, #44eaff);
    color:#fff;
    border-radius:30px;
    padding:12px 28px;
    margin-left: 10px;
    font-weight: 500;
}

.vew-more_black .button{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 55px;
    width: 55px;
    font-size:1.25rem;
    background: linear-gradient(to right,#e6027a, #44eaff);
    color:#fff;
    border-radius:30px;
    padding:12px 28px;
    margin-left: 10px;
}

.vew-more .button p{
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.vew-more_black .button :hover{
    color: #e6027a;
}

.button {
    font-size: 1rem;
    background: linear-gradient(to right, #e6027a, #44eaff);
    color: #fff;
    border-radius: 30px;
    padding: 12px 28px;
  }
  
  .button:hover {
    background: rgb(193, 228, 248);
    color: #e6027a;
  }
  
  .button:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222,0,75);
    background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
  
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }






/*大きな背景画像
.big-bg{
    background-size:cover;
    background-position: center top;
}
#home{
    background-image:url(../images/main-bg.jpg);
    min-height:100vh;
}
#home.page-title{
    text-transform:none;
}
*/








/*TOPサービス
--------------------------------*/

.title-zone{
    position: relative;
}

.nagarerutext{
    width : auto;      /* 枠の大きさ */
    margin-top: 30px;
}

.nagarerutext p {
    font-size: 290px;
    color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.02em;
    display : inline-block;  /* 必須 */
    padding-left: 100%;    /* 右端から文字をスタートさせるため */
    white-space : nowrap; /* 改行が起こらないように対策 */
    line-height : 1em;         /* 行間（高さ）を1文字分にする */
    animation : scroll 30s linear infinite; /* 下のアニメーションを10秒かけて行い、それをくりかえす */

}

/* アニメーション（右から左に移動） */

  .service-title{
    padding: 0px 4%;
    position: absolute;
    top: 30%;
  }


  .nagarerutext{
    align-items: center;
    display: flex;
    white-space:nowrap;
    z-index: 1;
  }
  .nagarerutext ul {
    animation: flowing 100s linear infinite;
    transform:translateX(100%);
    margin: 0;
    padding: 0;
  }
  .nagarerutext ul li{
    font-size: 290px;
    color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-right: 10px;
    line-height: 1em;
  }
  @keyframes flowing {
    0% { transform:translateX(0); }
    100% { transform:translateX(-100%); }
  }




/*グラデーションテキスト*/
  .grdtext{
    font-size: 120px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1em;

    display: inline-block;
    background: linear-gradient(90deg, right,#e6027a, #44eaff);
    background: -webkit-linear-gradient(0deg, #e6027a, #44eaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .midasi{
    font-size: 35px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .kaitori{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    margin: 100px 4% 0 0;
  }

  .kaitori .imgbox{
    width: 70%;
    height: 500px;
  }

  .kaitori img{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
  }

  .kaitori .setumei-box{
    margin: 0 0 0 6%;
    min-width: 40%;
  }

  .komidasi{
    font-size: 25px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0 0 20px 0;
  }

  .sns{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: auto;
    margin: 100px 0 0 4%;
  }

  .sns .imgbox{
    width: 70%;
    height: 500px;
  }

  .sns img{
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
  }

  .sns .setumei-box{
    margin: 0 6% 0 0;
    min-width: 40%;
  }




/*COMPANY*/

.black{
    margin: 100px 0 0 0;
    background-color: #151515;
    height: auto;
    padding-bottom: 100px;
    position: relative;
}



.company{
    margin: 0 4%;
}

.company-title{
    padding: 80px 4% 50px 4%;

}

.black p{
    color: #fff;
}

.gaiyou{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.gaiyou .midasi{
    margin-bottom: 30px;
}

.gaiyou_text{
    display: flex;
    flex-direction: column;
}

.gaiyou_contents {
    display: flex;
    padding: 10px 10px;
}

.gaiyou_title{
    width: 10%;
}

.gaiyou-mi {
    max-width: 50%;
}



.midasi-sns{
    font-size: 22px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}
.sns-news{
    padding-left: 55%;
    display: flex;
    justify-content: flex-end;
    margin: 0 4% 0 0;
}
.sns-news .midasi{
    margin-bottom: 30px;
}

.tokuraya_logo_w{
    position: absolute;
    top: 200px;
    left: 40%;
    width: 40%;
    height: auto;
    opacity: 15%;
}

.bazukomi_logo_w{
    position: absolute;
    top: 780px;
    width: 60%;
    height: auto;
    opacity: 15%;
}

.gaiyou_text {
    display: flex;
}


/*CONTACT*/

.contact{
    margin: 0 4%;
}

.contact-title{
    margin: 150px 0 50px 0;
}

.contact-midasi-box{
    margin-right: 50px;
    margin-left: 20px;
}

.contact .midasi{
    margin-bottom: 30px;
}

.contact-box{
    display: flex;
    align-items: flex-end
}




/*FOOTER
--------------------------------*/

.page-fotter {
    text-align: center;
    padding: 50px 4% 50px 4%;
}

footer p {
    color: #151515;
    font-size: 0.875rem;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav .main-nav{
    margin-top: 0px;
}

footer h1{
    font-size: 35px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #151515;
}

.footer-nav2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 80px;
}

.right-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




/*PLIVACY
----------------------------------------------------------------------------*/

.privacypolicy{
    margin: 150px 10%;
}

.privacypolicy .title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}





/* NEWS
------------------------------- */
#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}



/*記事部分
------------------*/
article{
    width: 74%;
}






/*CONTACT
------------------------------------------------------------*/

#contact .wrapper .page-title{
    margin: 100px 0 100px 0;
}
/*フォーム
------------------------------------------------------------*/

.contact_textbox {
    margin: 0 4% 0 4% ;
}
.contact_title{
    margin-bottom: 30px;
}

.contact_zone{
    position: relative;
}

.contact_box{
    display: flex;
    align-items: center;
    margin: 160px 0 100px 0;
}

.contact_zone .nagarerutext{
    position: absolute;
    z-index: -1;
    top: -100px;
}

.contact_box .imgbox{
    width: 70%;
    height: 500px;
}

.contact_box img{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}




form div{
    margin-bottom: 20px;
}
label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display:block;
}
input[type="text"],
input[type="email"],
textarea{
    background: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 240px;
}
textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}

/*iframe*/
iframe{
    width: 100%;
}
/*sns*/
#sns{
    background: #FAF7F0 ;
    padding: 4% 0;
}
#sns .wrapper{
    display: flex;
    justify-content: space-between;
}
#sns .sub-title{
    margin-bottom: 30px;
}
.sns-box{
    width: 30%;
}


/*バズコミページ
--------------------------------------------------------*/

.logo_box {
    position: relative;
    padding: 100px 4% 0px 4%;
}

.bazukomi_logo_b2{
    position: absolute;
    top: 36px;
    left: 390px;
    z-index: -1;
    opacity: 10%;
    width: 80%;
    object-fit: contain;
}

.bazukomi_logo_b{
    width: 60%;
}

.bazukomi_service_zone{
    position: relative;
}

.bazukomi_service{
    display: flex;
    align-items: center;
    margin: 160px 0 100px 0;
}

.bazukomi_service_zone .nagarerutext{
    position: absolute;
    z-index: -1;
    top: -100px;
}

.bazukomi_service_title{
    margin-bottom: 30px;
}

.bazukomi_service .imgbox{
    width: 70%;
    height: 500px;
}

.bazukomi_service img{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bazukomi_service_textbox {
    margin: 0 4% 0 4% ;
}

.bazukomi_service_textbox .setumei-text{
    margin-bottom: 30px;
}

span.marker {
    background: linear-gradient(to right,#e6027a, #44eaff);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 50%;
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
}
span.marker2 {
    background: linear-gradient(to right,#e6027a, #44eaff);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 50%;
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    margin-left: 30px;
}

/*-----インフルエンサー紹介------*/

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 100px 4% 100px 4%;
    gap:50px;
}

.grid .item img{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 400px;
}

.grid .item .name{
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1.2em;
}

.grid .item .hitokoto{
    color: #e6027a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid .item .tagu {
    color: #e6027a;
    border-style: solid;
    border-radius: 50px;
    padding: 5px 30px;
    width: max-content;
    margin-top: 30px;
}

/*---黒背景-----*/

.bazukomi_black {
    display: flex;
    align-items: center;
    background-color: #151515;
    margin: 0px;
    padding: 100px 4% 100px 4%;
}

.bazukomi_black .grdtext {
    letter-spacing: 0px;
}

.contact-midasi-box{
    color: #fff;
}

.contact-midasi-box .midasi{
    margin-bottom: 30px;
}



/*-------スライドインアニメーション-----------*/

.scroll_up {
    transition: 1.5s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
  }
  .scroll_up.on {
    transform: translateY(0);
    opacity: 1;
  }




  .scroll_right {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein-bottom {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }



/*モバイル版
--------------------------------------------------------------------------モバイル版*/
@media (max-width: 600px) {
    .page-title {
        font-size: 3.5rem;
    }

    .togglemenu .button{
        padding: 7px 20px;
    }

    .main-nav{
        display: none;
    }

    .logo{
        width: 50px;
    }

    .menu-logo{
        display: block;
        width: 50px;
    }

    .togglemenu{
        text-align: center;
        position: absolute;
        top: 65px;
        right: 0;
        display: flex;
        display: none;
        list-style-type: none;
        background-color: #151515;
        padding: 60px 30px 30px 40px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .togglemenu li{
        margin-bottom: 30px;
    }

    .togglemenu a{
        color: #ffff;
    }

  

    /*----グラデーションテキスト--------*/
    .grdtext {
        font-size: 60px;
    }
    /*----流れるテキスト-------------*/
    .nagarerutext ul li {
        font-size: 130px;
    }

    p{
        font-size: 0.8rem;
    }

    /*----見出し-------*/
    .midasi{
        font-size: 22px;
    }

    .komidasi{
        font-size: 18px;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /*---ボタン-----*/

    .vew-more{
        margin-top: 20px;
    }

   


    /* HOME */
    .home-content p{
        font-size: 0.8rem;
        margin: 20px 0 42px;
        position: absolute;
        top: 99%;
        left: 20px;
    }

    .kaitori {
        display: flex;
        align-items: center;
        margin: 30px 4% 0 4%;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .sns {
        display: flex;
        align-items: center;
        margin: 30px 4% 0 4%;
        flex-direction: column;
    }

    .page-header{
        align-items: center;
    }
    .home-content {
        margin: 6% 0 80px 0;
        position: relative;
    }

    .kaitori .imgbox {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .sns .imgbox {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .kaitori img{
        border-radius: 50px;
    }

    .sns img{
        border-radius: 50px;
    }

    .kaitori .setumei-box{
        margin: 0px;
    }

    .setumei-text .text{
        font-size: 0.8rem;
    }

    /*--------BLACK----------*/

    .black{
        margin: 50px 0 0 0;
        padding-bottom: 50px;
    }

    .company-title {
        padding: 50px 4% 10px 4%;
    }

    .tokuraya_logo_w {
        position: absolute;
        top: 200px;
        left: 30%;
        width: 80%;
    }

    .gaiyou{
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .gaiyou .midasi{
        margin-bottom: 20px;
    }

    .gaiyou p {
        padding-right: 10px;
    }

  
    .gaiyou_title {
        width: 25%;
    }

    .gaiyou-mi{
        width: auto;
    }

    .gaiyou_contents {
        padding: 8px 5px;
    }
  

    .sns-news {
    padding-left: 0%;
    display: flex;
    justify-content: flex-start;
    margin: 0px; 
    }
    .bazukomi_logo_w {
        position: absolute;
        left: 75px;
        top: 610px;
        width: 90%;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-title {
        margin: 80px 0 10px 0;
    }

    .contact-midasi-box .midasi {
        margin-bottom: 10px;
    }

    .contact-box {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .contact-midasi-box {
        color: #fff;
        margin-left: 0px;
    }

    /*--------バズコミ--------------*/

    .bazukomi_service .imgbox {
        display: none;
    }

    .logo_box {
        padding: 50px 4% 0px 4%;
    }

    .bazukomi_logo_b2 {
        top: 16px;
        left: 110px;
        z-index: -1;
        opacity: 10%;
        width: 120%;
    }

    .bazukomi_service {
        margin: 100px 0 50px 0;
    }

    .bazukomi_service_zone .nagarerutext {
        top: -65px;
    }

    .bazukomi_logo_b {
        width: 80%;
    }

    .grid{
        margin: 50px 4% 80px 4%;
        gap: 80px;
    }

    .bazukomi_black {
        display: flex;
        align-items: flex-start;
        background-color: #151515;
        margin: 0px;
        padding: 50px 4% 50px 4%;
        flex-direction: column;
    }

    .bazukomi_black .grdtext {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .grid .item .name{
        font-size: 22px;
    }


    /*---------------問い合わせページ--------------*/

  
    .contact_zone .nagarerutext {
        top: -65px;
    }

    .contact_box .imgbox{
        display: none;
    }

    .contact_box {
        margin: 60px 0 50px 0;
    }
    
    /* NEWS */
    .news-contents{
        flex-direction: column;
    }
    article,
    aside{
        width:100%;
    }
    #news .page-title{
        margin-top: 30px;
    }
    aside{
        margin-top: 60px;
    }
    .post-info{
        margin-bottom: 30px;
    }
    .post-date{
        width:70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span{
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title{
        font-size: 1.375rem;
    }
    .post-cat{
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat{
        margin-left: 80px;
    }
    /* MENU */
    .menu-content {
        margin-top: 20%;
    }
    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }
    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
    /*店舗情報・地図・sns*/
    #location .wrapper,
    #sns .wrapper{
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }

    /*----フッター---------*/
    .footer-nav nav{
        display: none;
    }

    .page-fotter {
        text-align: center;
        padding: 30px 4% 30px 4%;
    }
    .footer-nav2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;

    }
    .right-bottom {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
    }

    .right-bottom a{
        padding-right: 20px;
    }

    .company-address{
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    footer h1{
        font-size: 22px;
    }

}
